<% content_for :title, "New category utility" %>

<h1>New category utility</h1>

<%= render "form", category_utility: @category_utility %>

<br>

<div>
  <%= link_to "Back to category utilities", category_utilities_path %>
</div>
