<div id="<%= dom_id category_product %>" class="card p-3 mb-3">
  <h3 class="card-title mb-3">category product Details</h3>

  <div class="mb-3">
    <p class="mb-1">
      <strong>Name:</strong>
      <%= category_product.name %>
    </p>
  </div>


